# OS/system files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Logs
*.log

# Node modules if installed at root (usually not, but just in case)
node_modules/
/backend/CoffeeCorner/CoffeeCorner.API/appsettings.Development.json
